---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: cbs-csi-node-sa
  namespace: kube-system

---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: cbs-csi-node-role
rules:
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get", "list"]

---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: cbs-csi-node-rolebinding
subjects:
  - kind: ServiceAccount
    name: cbs-csi-node-sa
    namespace: kube-system
roleRef:
  kind: ClusterRole
  name: cbs-csi-node-role
  apiGroup: rbac.authorization.k8s.io